.homepage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}

.site-preview{
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.site-preview-name{
  margin-top: 160px;
  margin-left: 70px;
  padding-left: 0;
  font-style: bold;
  font-family: Signika, Arial;
  font-size: 85px;
  color: white;
  align-items: end;
}

.site-preview-subtitle{
 margin-left: 70px;
 margin-right: 140px;
 margin-top: 40px;
 font-size: 24px;
 color: white;
}

.site-svg{
  display: flex;
  align-items: center;
}

.featured-button{
  margin-top: 50px;
  margin-left: 70px;
  background-color: rgb(29, 185, 84);
  color: black;
  border: none;
  border-radius: 30px;
  padding: 14px 40px 14px 40px;
  font-family: Signika,Arial;
  font-size: 24px;
  cursor: pointer;
}

.featured-button:hover{
  background-color:rgb(87, 221, 134) ;
  color: rgb(31, 31, 31);
}

.site-svg img{
  width: 540px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 100px;
  border-radius: 50px;
}

